.TodoItem
{
  width: 95%;
  min-height: 2.5em;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  border-radius: var(--border-radius-field);
  box-shadow: var(--box-shadow-item);
  background-color: var(--background-field);
  
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.TodoItem:first-child
{
  margin-top: 2%;
}

.TodoItem:last-child
{
  margin-bottom: 4%;
}

.ItemText
{
  width: 100%;
  padding: 4px 8px;
}

.ItemText-complete
{
  text-decoration: line-through;
}

.check-icon-wrapper
{
  width: 3rem;
  color:var(--light-grey);
  margin-left: .5em;
}

.check-icon-wrapper:hover
{
  cursor:pointer;
  color: var(--green);
}

.check-icon-active
{
  color:var(--green);
}

.close-icon-wrapper
{
  width: 3rem;
  color:var(--light-grey);
  margin-right: .5em;
}

.close-icon-wrapper:hover
{
  color: var(--red);
  cursor: pointer;
}