:root
{
  --background: #ffffff;
  --background-field: #d8d8d8bd;
  --red: #b81d1d;
  --green: #1D9A57;
  --black: #08080C;
  --white: #ffffff;
  --light-grey: lightslategray;
  --grey-dark: rgba(16, 14, 36, 0.486);
  --grey-dark-plus : rgba(14, 14, 14, 0.900);
  --transparent: transparent;
  --font-color: #333;
  --body-color: rgba(114, 114, 113, 0.884);
  --background-color: #eee;

  /* Toggle sizes */
  --height-toggle: 28px;
  --height-slider: 24px;
  --width-toggle: 44px;
  --slider-toggle: 18px;
}

[data-theme='dark']
{
  --font-color: #eee;
  --background-color:rgba(14, 14, 14, 0.76);
  --background-field:rgba(75, 74, 74, 0.657);
  --box-shadow: 0 none !important;
  --box-shadow-item: 0 none !important;
}

body
{
  color: var(--font-color);
  background-color: var(--body-color);
}

/* Toggle */

.toggle-theme-wrapper
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: var(--font-color);
}

.toggle-theme 
{
  position: relative;
  display: inline-block;
  height: var(--height-toggle);
  width: var(--width-toggle);
}

.toggle-theme input 
{
  display: none;
}

.slider 
{
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before 
{
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: var(--height-slider);
  height: 80%;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: var(--slider-toggle);
}

input:checked + .slider:before 
{
  transform: translateX(var(--slider-toggle));
}

input:checked + .slider 
{
  background-color: cornflowerblue;
}

.slider.round 
{
  border-radius: 32px;
}

.slider.round:before
{
  border-radius: 50%;
}

/* SVG of toggle */
.svg-title
{
  width: 30px;
}