.searchContainer
{
  display:flex;
  flex-direction: row;
  border-radius: var(--border-radius-basic);
  box-shadow: var(--box-shadow);

  position: relative;
}

.searchField
{
  width: 100%;
  
  padding: var(--field-basic-padding);
  border-style: none;
  border-radius: var(--border-radius-basic);

  text-align: center;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.searchField:focus
{
  outline: 2px solid rgba(255, 197, 8, 0.507);
}

.icon
{
  position:absolute;
  top: 1.2rem;
  left: 1rem;
  color: var(--light-grey);
}

@media screen and (min-width: 768px)
{
  .icon
  {
    top: 1rem;
  }
}

@media screen and (min-height: 950px)
{
  .icon
  {
    top: 1.6rem;
  }
}