.titleField
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-wrapper
{
  width: 60%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.title-wrapper img
{
  width: 80px;
}

@media screen and (min-width: 768px)
{
  .title-wrapper img
  {
  width: 100px;
  }
}

.title
{
  width: 50%;
  font-family: var(--title-font);
  font-size: 3.9rem;
  letter-spacing: .2rem;
  text-align: left;
}

.titleFieldLeft
{
  display:flex;
  width: 35%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.darkThemeToggle
{
  margin-bottom: 1em;
}

.date
{
  font-weight: bold;
  font-family: var(--body-font);
  font-size: 1em;
  color: var(--light-grey);
}
