.titleField
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper
{
  display:flex;
  width: 30%;
  height: 100%;
}

.title
{
  display:flex;
  align-items: flex-end;
  text-align: center;
  width: 50px;
  font-family: var(--title-font);
  font-size: var(--title-font-size);
}

.titleFieldLeft
{
  display:flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.darkThemeToggle
{
  margin-bottom: 1em;
}

.date
{
  font-weight: bold;
  font-family: var(--body-font);
  font-size: 1em;
  color: var(--light-grey);
}

.title-svg
{
  display:none;
}

@media screen and (min-width: 768px)
{
  .title
  {
    width: 50%;
  }

  .title-svg
  {
    display:block;
    width: 3em;
  }
}