
.CreateTodoButton-wrapper
{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.button
{
  width: 60px;
  height: 30px;
  font-family: var(--body-font);
  font-weight: bold;
  box-shadow: var(--box-shadow-button);
  font-size: var(--normal-font-size);
  border: none;
  border-radius: var(--border-radius-basic);
  transition: all .01s;
  text-align: center;
  padding: auto;
}

.clear-button
{
  background-color: var(--red);
}

.add-button
{
  font-size: var(--medium-font-size);
  background-color: var(--green);
}

.clear-button:hover,
.add-button:hover
{
  cursor: pointer;
}

.clear-button:active,
.add-button:active
{
  
  transform: scaleX(.95) scaleY(.95);
}