
.CreateTodoButton-wrapper
{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.clear-button
{
  margin-top: .3em;
  width: 1.8em;
  color: var(--red);
}

.add-button
{
  width: 2.5em;
  color: var(--green);
}

.clear-button:hover,
.add-button:hover
{
  cursor: pointer;
}

.clear-button:active,
.add-button:active
{
  
  transform: scaleX(.95) scaleY(.95);
}