:root
{
  /* Fonts */
  --title-font: 'Squada One', cursive;
  --body-font: 'League Spartan', sans-serif;

  /* Fonts sizes */

  --tiny-font-size: 1rem;
  --small-font-size: 1.4rem;
  --normal-font-size: 1.6rem;
  --medium-font-size: 2rem;
  --big-font-size: 2.4rem;
  --title-font-size: 3.2rem;

  /* Paddigs */
  --basic-padding: .4em .8em; 

  /* Spaces */
  --field-basic-padding: .4em .8em;
  --margin-space-sections: 2%;

  /* Borders */
  --border-radius-basic: 10px;
  --border-radius-field: 5px;

  /* SHADOWS */
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
              rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --box-shadow-item: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --box-shadow-button: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

*,
*::after,
*::before
{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

html
{
  height: 100vh;
  font-size: 62.5%;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root
{
  min-height: 100vh;
  max-width: 450px;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12% 4% 5% 60% 5%;
  row-gap: 3%;

  margin: 0 auto;
  padding: 1em;

  border-radius: 10px;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px)
{
  #root
  {
    min-height: 95vh;
    box-shadow: var(--box-shadow);
    margin-top: 2vh;
    padding: 1em 2em;
  }
}

.default-text
{
  width: 90%;
  margin: 0 auto;

  font-weight: bold;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  color: var(--light-grey);
  line-height: 1.2em;
  text-align: center;
}